 <div
      class="border border-white sm:rounded-[64px] rounded-[40px] bg-hero py-2"
    >
      <div class="flex flex-col gap-5 w-[900px] sm:p-16 p-6">
        <div>
            <h1 class="font-extrabold sm:text-[95px] text-[50px] text-white">
          &#123; JSON &#125; <br>
          Placeholder
        </h1>
        </div>
        <h1 class="font-normal sm:text-[33px] text-[16px]  text-white sm:w-[800px] w-[250px]">
          Free fake API for testing and prototyping. Powered by JSON Server +
          LowDB. Tested with XV.
        </h1>
      </div>
    </div>