<div class="flex flex-row w-full gap-1 justify-center h-[80px]">
      <div class="flex w-full">
        <div class="border border-white rounded-[40px] w-[296px]  p-1">
          <div class="w-full h-full bg-white rounded-[40px] px-7 flex items-center">
            <h1 class="w-full text-[40px] font-extrabold text-[#1c1c1c]">
              API
            </h1>
          </div>
        </div>
        <div class="border border-white rounded-[40px] w-full h-full gap-8 flex justify-end items-center">
          <div class="flex flex-row gap-2">
            <h1 class="font-semibold text-lg text-white">Posts</h1>
            <h1 class="font-semibold text-lg text-white">Photos</h1>
          </div>
          <div class="flex flex-row items-center px-1  gap-4">
            <h1 class="font-extrabold text-[18px] text-white">Sign Up</h1>
            <button class="flex justify-center items-center bg-white p-5 w-[180px] rounded-[47px] font-extrabold text-lg text-[#1c1c1c]">
              Login
            </button>
          </div>
        </div>
      </div>