<div class="flex flex-col justify-center items-center w-full gap-2">
    <div class="w-full py-3">
        <%= render partial: "navbar"%>
    </div >
    <div class="w-full py-3">
        <%= render partial: "hero"%>
    </div>   
    <div class="w-full py-3">
        <%= render partial: "tabs"%>
    </div> 
    
           
</div>
